<h1>Requests</h1>
<table>
  <thead>
    <td>Method</td>
    <td>URL</td>
    <td>Query</td>
    <td>Status</td>
    <td>Request body</td>
    <td>Response body</td>
    <td>Timestamp</td>
  </thead>
  <tbody>
    <%= render @requests %>
  </tbody>
</table>
